// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.totalprice {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}
.badge {
  font-size: 2.5rem;
}
